* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: font1;
  src: url(../css/font/Ayuthaya.ttf);
}
nav {
  min-height: 160px;
  background-color: #cac386;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.5;
}
nav .client-name {
  font-family: font1;
  font-size: 60px;
  color: #000;
}
nav .links {
  width: 1200px;
  min-height: 60px;
  margin-right: 10px;
  padding-top: 20px;
  background-color: #cac386;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links a {
  text-decoration: none;
  font-family: font1;
  font-size: 30px;
  color: #000;
}

@media screen and (max-width: 1200px) {
  nav {
    flex-direction: column;
  }
  nav .links {
    flex-direction: column;
  }
  nav .links a {
    margin-top: 20px;
  }
  nav .links .login {
    margin-bottom: 20px;
  }
}
.home-hero {
  height: 499px;
  background-image: url(../images/hero-home.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-content {
  width: 600px;
  min-height: 200px;
  font-family: font1;
  color: #000;
  margin: 100px auto;
  line-height: 40px;
}
.form-content h1 {
  font-size: 40px;
}
.form-content p {
  font-size: 20px;
}

.sound-board {
  height: 600px;
  background-image: url(../images/sound-board.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sound-board .content-container {
  height: 400px;
  width: 600px;
  background-color: white;
  border: 3px #c7cac6 solid;
  border-radius: 18px;
}
.sound-board .content-container .info-container {
  width: 400px;
  margin: 0 auto;
  line-height: 40px;
}
.sound-board .content-container .info-container h1 {
  font-family: font1;
  font-size: 40px;
  margin: 50px auto;
  margin-bottom: 20px;
}
.sound-board .content-container .info-container p {
  font-family: font1;
  font-size: 20px;
}

footer {
  background-color: #cac386;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin-top: 100px;
  font-family: font1;
  opacity: 0.5;
}
footer .footer-address {
  font-size: 20px;
}
footer .footer-name {
  font-size: 60px;
}
footer .footer-email {
  font-size: 20px;
}