* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Ayuthaya;
  src: url(../css/font/Ayuthaya.ttf);
}
nav {
  min-height: 160px;
  background-color: #cac386;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .client-name {
  font-family: Ayuthaya;
  font-size: 60px;
  color: #000;
}
nav .links {
  width: 1200px;
  min-height: 60px;
  margin-right: 10px;
  padding-top: 20px;
  background-color: #cac386;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links a {
  text-decoration: none;
  font-family: Ayuthaya;
  font-size: 30px;
  color: #000;
}

@media screen and (max-width: 1200px) {
  nav {
    flex-direction: column;
  }
  nav .links {
    flex-direction: column;
  }
  nav .links a {
    margin-top: 20px;
  }
  nav .links .login {
    margin-bottom: 20px;
  }
}