* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: font1;
  src: url(../css/font/Ayuthaya.ttf);
}
nav {
  min-height: 160px;
  background-color: #cac386;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.5;
}
nav .client-name {
  font-family: font1;
  font-size: 60px;
  color: #000;
}
nav .links {
  width: 1200px;
  min-height: 60px;
  margin-right: 10px;
  padding-top: 20px;
  background-color: #cac386;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links a {
  text-decoration: none;
  font-family: font1;
  font-size: 30px;
  color: #000;
}

@media screen and (max-width: 1200px) {
  nav {
    flex-direction: column;
  }
  nav .links {
    flex-direction: column;
  }
  nav .links a {
    margin-top: 20px;
  }
  nav .links .login {
    margin-bottom: 20px;
  }
}
.home-hero {
  height: 499px;
  background-image: url(../images/hero-home.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-content {
  width: 600px;
  min-height: 200px;
  font-family: font1;
  color: #000;
  margin: 100px auto;
  line-height: 40px;
}
.form-content h1 {
  font-size: 40px;
}
.form-content p {
  font-size: 20px;
}

.sound-board {
  height: 600px;
  background-image: url(../images/sound-board.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sound-board .content-container {
  height: 400px;
  width: 600px;
  background-color: white;
  border: 3px #c7cac6 solid;
  border-radius: 18px;
}
.sound-board .content-container .info-container {
  width: 400px;
  margin: 0 auto;
  line-height: 40px;
}
.sound-board .content-container .info-container h1 {
  font-family: font1;
  font-size: 40px;
  margin: 50px auto;
  margin-bottom: 20px;
}
.sound-board .content-container .info-container p {
  font-family: font1;
  font-size: 20px;
}

h1 {
  width: 600px;
  font-family: font1;
  font-size: 40px;
  margin: 100px auto 50px auto;
}

.create-text {
  width: 600px;
  font-family: font1;
  font-size: 20px;
  margin: 0 auto 50px auto;
}

.form-background {
  width: 900px;
  min-height: 200px;
  background-image: url(../images/create-form.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.form-background .field {
  width: 800px;
  display: block;
  background-color: #ccc9c1;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 18px;
}
.form-background .field form {
  width: 600px;
  min-height: 200px;
  background-color: #ccc9c1;
  border-radius: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  padding-bottom: 150px;
  margin: 50px auto 0 auto;
}
.form-background .field form label {
  font-family: font1;
  font-size: 16px;
  color: #000;
  padding-top: 30px;
}
.form-background .field form input {
  width: 600px;
  height: 60px;
  margin-top: 10px;
  background-color: #e4e1dd;
  border: none;
  border-radius: 10px;
  margin-bottom: 50px;
}
.form-background .field form #create {
  width: 250px;
  height: 100px;
  background-color: #e37d7b;
  border-radius: 18px;
  font-family: font1;
  font-size: 40px;
  color: white;
  margin-left: 150px;
  border: 5px #ccc9c1 solid;
}

.question {
  font-family: font1;
  font-size: 16px;
  color: #000;
  margin-left: 100px;
  margin-bottom: 20px;
}

.edit-field {
  width: 800px;
  min-height: 200px;
  background-color: #cac386;
  border-radius: 18px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.edit-field form {
  width: 600px;
  margin: 25px auto;
  padding-top: 50px;
  display: block;
}
.edit-field form label {
  font-family: font1;
  font-size: 16px;
  color: #000;
}
.edit-field form input {
  width: 600px;
  height: 60px;
  margin-top: 10px;
  background-color: #e4e1dd;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
}

#edit {
  width: 250px;
  height: 100px;
  background-color: #e37d7b;
  border-radius: 18px;
  font-family: font1;
  font-size: 40px;
  color: white;
  border: none;
  margin-left: 250px;
  margin-top: 50px;
}

.login-hero {
  min-height: 1000px;
  background-image: url(../images/login-form.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
  margin-bottom: 100px;
}
.login-hero .cassette-container {
  width: 1025px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.login-hero .cassette-container .login-container {
  width: 475px;
  min-height: 200px;
  background-color: #b7c5c8;
  opacity: 0.92;
  border-radius: 23px;
  border: 3px #707070 solid;
}
.login-hero .cassette-container .login-container .login {
  margin-top: 20px;
  margin-left: 150px;
}
.login-hero .cassette-container .login-container .login-info {
  width: 300px;
  min-height: 200px;
  margin: 0 auto;
}
.login-hero .cassette-container .login-container .login-field {
  width: 300px;
  display: block;
}
.login-hero .cassette-container .login-container label {
  font-family: font1;
  font-size: 16px;
  margin-bottom: 30px;
}
.login-hero .cassette-container .login-container input {
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.login-hero .cassette-container .login-container #submit1 {
  width: 200px;
  height: 80px;
  background-color: #717f80;
  font-family: font1;
  font-size: 40px;
  color: white;
  margin-left: 125px;
}
.login-hero .cassette-container .create-container {
  width: 475px;
  height: 1000px;
  background-color: #c9c1c1;
  opacity: 0.9;
  border-radius: 23px;
  border: 3px #707070 solid;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-hero .cassette-container .create-container .create-account {
  margin-top: 20px;
  margin-left: 60px;
}
.login-hero .cassette-container .create-container .create-info {
  width: 300px;
  min-height: 200px;
  margin: 0 auto;
}
.login-hero .cassette-container .create-container .create-field {
  width: 300px;
  display: block;
}
.login-hero .cassette-container .create-container label {
  font-family: font1;
  font-size: 16px;
}
.login-hero .cassette-container .create-container input {
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.login-hero .cassette-container .create-container #submit2 {
  width: 200px;
  height: 80px;
  background-color: #a58b90;
  font-family: font1;
  font-size: 40px;
  color: white;
  margin-left: 125px;
}

footer {
  background-color: #cac386;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin-top: 100px;
  font-family: font1;
  opacity: 0.5;
}
footer .footer-address {
  font-size: 20px;
}
footer .footer-name {
  font-size: 60px;
}
footer .footer-email {
  font-size: 20px;
}