nav {
	min-height: 160px;
	background-color: #cac386;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: .5;

	.client-name {
		font-family: font1;
		font-size: 60px;
		color: #000;
	}

	.links {
		width: 1200px;
		min-height: 60px;
		margin-right: 10px;
		padding-top: 20px;
		// width: 1000px;
		background-color: #cac386;
		display: flex;
		justify-content: space-around;
		align-items: center;
		a {
			text-decoration: none;
			font-family: font1;
			font-size: 30px;
			color: #000;
		}
	}
}

@media screen and (max-width: 1200px) {
	nav {
		flex-direction: column;
		.links {
			flex-direction: column;
			a {
				margin-top: 20px;
			}
			.login {
				margin-bottom: 20px;
			}
		}
	}
}
